@use "../base/variables" as v;

.home {

  padding: 2rem;

  color: #1976d2;
}

.hero {

  background: white;

  border-radius: v.$radius-lg;

  padding: 3rem;

  text-align: center;

  box-shadow: v.$shadow-soft;
}

.logo-placeholder {

  width: 180px;

  height: 180px;

  background: #e5e7eb;

  margin: auto;

  border-radius: v.$radius-lg;

  display: flex;

  justify-content: center;

  align-items: center;

  font-weight: bold;

  margin-bottom: 2rem;
}

.home-metricas h2 {

  color: #1976d2;

  margin-bottom: 1rem;
}

.hero h1 {

  color: #1976d2;

  margin-bottom: 1.2rem;
  line-height: 1.4;
}

.hero p {

  color: #444;

  margin-bottom: 2rem;
}

.hero-buttons {

  display: flex;

  justify-content: center;

  gap: 1rem;
}

.btn-home {

  text-decoration: none;

  background: #1976d2;

  color: white;

  padding: 12px 24px;

  border-radius: v.$radius-sm;

  font-weight: bold;

  transition: background-color .2s ease, transform .2s ease;

  &:hover {
    background-color: #1565c0;
    transform: translateY(-1px);
  }
}

.home-metricas {

  margin-top: 2rem;
}