@use "variables";

@mixin tarjeta {
  padding: 1rem;
  border-radius: variables.$radius-md;
  box-shadow: variables.$shadow-soft;
  transition: box-shadow .2s ease, transform .2s ease;

  &:hover {
    box-shadow: variables.$shadow-hover;
  }
}